<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2 style="text-align: center">About Us</h2>
      <p class="mt-5">
        EDQ Financial Services Limited is a new age, education-focused NBFC on a
        mission to provide seamless and affordable education financing for every
        deserving Indian student. <br />Established in 2013, Avanse is on a
        journey to strengthen its leadership position in Education Lending by
        creating solutions for individuals (Education Loans) and Indian
        institutions (Education Infrastructure Financing). <br />We have
        solutions for every segment of the Indian education sector covering
        school education to post graduation while also contributing to build the
        education infrastructure in the country. <br />Warburg Pincus, a leading
        global private equity firm holds 80% of equity stake in Avanse. With
        over $65 billion in private equity assets under management across 185
        companies. Warburg Pincus has a highly diversified portfolio by stage,
        sector and geography. International Finance Corporation (IFC), an arm of
        the World Bank holds 20% equity stake.<br />
        Education Loan <br />Our Education Loans have been designed to finance
        education across a broad spectrum of student needs. Our Financial
        Solutions: Higher Education Loans for International Studies Higher
        Education Loans for India Education Loans for E-Learning School Fee
        Financing Education Loans for Vocational Courses Avanse has fulfilled
        education dreams of 2,00,000+ lacs academic aspirants across 3,000+
        institutes and courses across 50+ countries. Education Infrastructure
        Financing Avanse has lending solutions designed to build quality
        education infrastructure in the country. We have solutions for financing
        working and growth capital needs of educational institutes (primarily
        catering to K12 i.e. Schools). Avanse also has received a refinance from
        NABARD for its education infrastructure funding under ‘Social
        Infrastructure’ category helping us in making quality education
        accessible to far corners of the country. Avanse has also provided
        growth and working capital to ~1K educational institutes catering to
        over 6 lacs students.
      </p>
    </div>
  </div>
</div>
