<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h3 class="loan-mod-head" style="color: blue">Education Loan</h3>
      <p>
        Going abroad for higher studies? Or there’s a course that is domestic
        and expensive? Whatever be your reason for higher studies, it’s
        understood that higher education is often very expensive, with the
        rising cost of education. But that shouldn’t stop you! We, at ICICI
        Bank, understand about your career aspirations and offer the needed
        Student Loans, for successfully aiding your journey to higher education.
        Getting an Education Loan through ICICI Bank is an easy and simple
        process. We aim at providing financial support for aspiring students,
        for pursuing professional higher education in India and overseas.
      </p>
      <button type="button" class="btn_loan_mod">APPLY NOW</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
