<body>
  <nav class="backcolor navheight">
    <div class="row justify-content-center">
      <div class="col">
        <a class="navbar-brand worldfi" href="#"
          ><i class="fa fa-graduation-cap faicon" style="color: orange"></i> EDQ
          Finance</a
        >
      </div>
      <div class="col-6">
        <!-- <div class="input-group searchbar">
          <input
            type="text"
            class="form-control"
            placeholder="What can we help you find?"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button type="button" class="btn btn-orance">Search</button>
          </div>
        </div> -->
      </div>
      <div class="col">
        <i class="fa fa-bell-o icon1" aria-hidden="true"></i>
        <i class="fa fa-map-marker icon1 ml-4" aria-hidden="true"></i>
        <i class="fa fa-phone icon1 ml-4" aria-hidden="true"></i>
        <span class="ml-3 icon2">188-0000-999</span>
      </div>
    </div>
  </nav>

  <nav class="navbar navbarmargin navbar-expand-sm">
    <a class="navbar-brand" href="#"></a>

    <div class="row">
      <div class="col-10">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="home">HOME </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about_us">ABOUTUS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="faq">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact_us">CONTACTUS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="loan_mod">LOANS </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-2 fj">
      <button type="button" class="btn loginBtn btnri" routerLink="login_all">
        LOGIN <i class="fa fa-user-circle"></i>
      </button>
    </div>
    <div class="col-2">
      <button type="button" routerLink="register_student" class="btn loginBtn">
        REGISTER <i class="fa fa-address-card-o"></i>
      </button>
    </div>
  </nav>
</body>




