




<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Register Student Data Here</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class="text-primary">
              <th>Sr no</th>
              <th>Title Name</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Mobile Number</th>
              <th>Email Address</th>
              <th>Password</th>
              <th>Confirm Password</th>
              <th>Delete</th>
              <th>Document</th>
            </thead>
            <tbody>
              <tr *ngFor="let sdata of studentinfo">
                <td>{{ sdata.sid }}</td>
                <td>{{ sdata.title }}</td>
                <td>{{ sdata.firstName }}</td>
                <td>{{ sdata.middleName }}</td>
                <td>{{ sdata.lastName }}</td>
                <td>{{ sdata.mobNo }}</td>
                <td>{{ sdata.emailId }}</td>
                <td>{{ sdata.password }}</td>
                <td>{{ sdata.confirmPassword }}</td>
                <td>
                  <a
                    class="btn"
                    style="background-color: #01b8b5"
                    (click)="deleteData(sdata.sid)"
                  >
                    <i class="fa fa-trash"></i
                  ></a>
                </td>
                <td>
                  <a
                    class="btn"
                    style="background-color: #01b8b5"
                    (click)="nextDoc(sdata.firstName)"
                    >Upload Next Document
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
