<app-navigation></app-navigation>
<router-outlet></router-outlet>

<body>
  <div class="midddiv">
    <img class="img-fluid imgback" src="/assets/image/backimg2.jpg" />
  </div>

  <div>
    <img class="img-fluid" src="/assets/image/img3.JPG" />
  </div>

  <div class="container1">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card h-100 mt-5" style="width: 100%">
            <div class="card-body">
              <h5 class="card-title changcol mt-3">
                Study in India Education Loan
              </h5>
              <p class="card-text">
                India has become one of the world’s most exciting and evolving
                education hubs. New age universities and educational institutes
                offer a spectrum of study programs and specializations
                complemented by a huge range of niche and vocational programs.
                This is where we at Avanse step in with our student centric
                education loan solutions and ensure that students can pursue
                their choice of education without being shackled by finances.
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card h-100 mt-5" style="width: 100%">
            <div class="card-body">
              <h5 class="card-title changcol mt-3">
                Study Abroad Education Loan
              </h5>
              <p class="card-text">
                When your aspirations are unlimited why limit yourself to a
                study program in India. A plethora of study options are within
                your reach across multiple countries and courses. Avanse has
                customized solutions for your desired international education.
                So go ahead and aspire without boundaries.<br />
                You can go through the application process and have the money
                you need to study in India, within just a couple of days!
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card h-100 mt-5" style="width: 100%">
            <div class="card-body">
              <h5 class="card-title changcol mt-3">
                Education Institution Loans
              </h5>

              <p class="card-text">
                As an education focused financer we also have a role in
                enhancing the educational infrastructure in India. Avanse has
                created a range of solutions for financing working and growth
                capital needs of educational institutes across the country. You
                can go through the application process and have the money you
                need to study in India, within just a couple of days!
              </p>
              <a href="#" class="card-link">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divbottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7">
          <div class="text-div">
            <h1
              style="
                font-weight: bold;
                font-family: Arial, Helvetica, sans-serif;
              "
            >
              Find a Suitable Education Loan on
            </h1>
            <h3 style="color: black">www.educationfinacnce.co.in</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="story">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 mt-4">
          <h2 style="text-align: center">
            Funded Over 200,000+ Students Across 3000+ Institutes And Courses In
            50+ Countries. Do You Want To Be The Next?
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="card storycard h-100">
            <img
              class="card-img-top"
              src="/assets/image/img7.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Balpreet Singh</h5>
              <p class="card-text">
                I got to know about EDQ Financial Services from my study abroad
                consultant. I got in touch with their representative. They were
                very professional, explained the entire Education Loan process
                to me. My loan was sanctioned and disbursed quickly.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card storycard h-100">
            <img
              class="card-img-top"
              src="/assets/image/img6.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Johan Pistole</h5>
              <p class="card-text">
                I got to know about EDQ Financial Services from my study abroad
                consultant. I got in touch with their representative. They were
                very professional, explained the entire Education Loan process
                to me. My loan was sanctioned and disbursed quickly.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card storycard h-100">
            <img
              class="card-img-top"
              src="/assets/image/img5.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Kutii Roy</h5>
              <p class="card-text">
                I got to know about EDQ Financial Services from my study abroad
                consultant. I got in touch with their representative. They were
                very professional, explained the entire Education Loan process
                to me. My loan was sanctioned and disbursed quickly.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-3">
          <div class="card storycard h-100">
            <img
              class="card-img-top"
              src="/assets/image/img4.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Kely Manger</h5>
              <p class="card-text">
                I got to know about EDQ Financial Services from my study abroad
                consultant. I got in touch with their representative. They were
                very professional, explained the entire Education Loan process
                to me. My loan was sanctioned and disbursed quickly.
              </p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->

  <div class="footer">
    <div class="row justify-content-center">
      <div class="col-8">
        <p class="para">
          © 2018 EDQ Financial Services Ltd. All Rights Reserved .<br />
          Disclaimer | CIN : U67120MH1992PLC068060 | Base Lending Rate | Privacy
          Policy | Terms & Conditions | Ombudsman Scheme | Customer
          Complaints<br />
          Policy for Restructuring 2.0 for Education Loans & Small Businesses
          for Covid-19 related stress <br />
          | WhatsApp T&C | Channels of Communication Policy | Digital Lending
          Partners | Request For Restructuring Loan | Consumer Awarness on IRCAP
          norms | Repayment Mandate Cancellation
        </p>
      </div>
    </div>
  </div>
</body>
